/* Quick fix */
.mat-mdc-card-header-text {
  display: none;
}

.scheduler-header {
  display: flex;
  justify-content: space-between;
}

.scheduler-header.block {
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons.col {
  display: block;
}

.buttons button {
  margin: 0 0.3rem;
}

.week-settings {
  margin-top: 2rem;
}
