<section class="scheduler">
  <mat-card class="card">
    <div
      ngClass="scheduler-header {{
        (isMedium$ | async) ? 'block margin-bottom-2' : ''
      }}">
      <div ngClass="info {{ (isMedium$ | async) ? 'margin-bottom-2' : '' }}">
        <mat-card-title i18n>Resources scheduler</mat-card-title>
        <mat-card-subtitle i18n
          >Configure your week settings here. Simply move the sliders and
          add/remove break times to set up work hours.</mat-card-subtitle
        >
      </div>
      <div ngClass="buttons {{ (isExtraSmall$ | async) ? 'col' : '' }}">
        <button
          mat-flat-button
          ngClass="{{
            (isExtraSmall$ | async) ? 'full-width margin-bottom-2' : ''
          }}"
          i18n>
          Basic settings
        </button>
        <button
          mat-flat-button
          color="primary"
          ngClass="{{ (isExtraSmall$ | async) ? 'full-width' : '' }}"
          i18n>
          Advanced settings
        </button>
      </div>
    </div>

    <div class="week-settings">
      <app-day i18n-name name="Saturday" [index]="0"></app-day>
      <app-day i18n-name name="Sunday" [index]="1"></app-day>
      <app-day i18n-name name="Monday" [index]="2"></app-day>
      <app-day i18n-name name="Tuesday" [index]="3"></app-day>
      <app-day i18n-name name="Wednesday" [index]="4"></app-day>
      <app-day i18n-name name="Thursday" [index]="5"></app-day>
      <app-day i18n-name name="Friday" [index]="6"></app-day>
    </div>
  </mat-card>
</section>
