<section class="scheduler">
  <mat-card class="card">
    <div class="scheduler-header">
      <div class="info">
        <mat-card-title>Resources scheduler</mat-card-title>
        <mat-card-subtitle
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
          pariatur!</mat-card-subtitle
        >
      </div>
      <div class="buttons">
        <button mat-flat-button>Basic settings</button>
        <button mat-flat-button color="primary">Advanced settings</button>
      </div>
    </div>

    <div class="week-settings" *ngFor="let day of days">
      <app-day [name]="day"></app-day>
    </div>
  </mat-card>
</section>
