<!-- {{uploadForm.value| json}} -->
<div>
  <div class="image">
    <img
      ngClass="{{ (isMedium$ | async) ? 'margin-bottom ' : '' }}"
      mat-card-sm-image
      alt="{{ (appSettings$ | async)?.supplier?.avatarAlt }}"
      src="{{ (appSettings$ | async)?.supplier?.avatarUrl }}" />
  </div>
  <form class="decoder-form" [formGroup]="uploadForm" (ngSubmit)="changeImg()">
    <mat-form-field class="upload-button">
      <div class="button-wrapper">
        <ngx-mat-file-input
          placeholder="Select image"
          formControlName="uploadedImg"
          accept=".png, .jpg, .jpeg"
          i18n>
        </ngx-mat-file-input>
      </div>
    </mat-form-field>
    <section>
      <div>
        <button mat-raised-button class="full-width" i18n>Change</button>
      </div>
    </section>
  </form>
</div>
