main {
  background-color: #dfe1e3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-three {
  width: 100%;
  grid-column-start: -3;
  grid-column-end: -1;
}
