.options {
  display: flex;
  flex-direction: column;
}
.options .availability {
  width: 100%;
}

.options .triggers {
  display: flex;
  align-items: center;
}

.resource-time,
.reservation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}
