.options {
  display: flex;
  flex-direction: column;
}
.options .availability {
  width: 100%;
  margin-bottom: 2.5rem;
}

.resource-time,
.reservation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-time.block {
  display: block;
}

.reservation.block {
  display: block;
}

.full-width {
  width: 100%;
}
