<!-- {{ loadedSettings | json }} -->
<!-- {{ newSettings | json }} -->
<section class="resource-options">
  <form (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <div class="options">
        <div class="availability">
          <mat-form-field class="full-width">
            <mat-label i18n>Resource availability</mat-label>
            <input
              matInput
              (change)="onChange()"
              type="number"
              name="availabilityTime"
              [(ngModel)]="availabilityTime" />
          </mat-form-field>
        </div>

        <div ngClass="resource-time {{ (isMedium$ | async) ? 'block' : '' }}">
          <div class="triggers">
            <div i18n>Resource Time</div>
            <mat-checkbox
              (change)="onChange()"
              name="serviceTime"
              [(ngModel)]="serviceTime"
              i18n
              >Service time</mat-checkbox
            >
            <mat-checkbox
              (change)="onChange()"
              name="fixedTime"
              [(ngModel)]="fixedTime"
              i18n
              >Fixed time</mat-checkbox
            >
          </div>
          <div *ngIf="fixedTime" class="log">
            <mat-form-field
              ngClass="{{ (isMedium$ | async) ? 'full-width' : '' }}">
              <input matInput type="number" />
            </mat-form-field>
          </div>
        </div>

        <div ngClass="reservation {{ (isMedium$ | async) ? 'block' : '' }}">
          <div class="triggers">
            <div i18n>Reservation</div>
            <mat-checkbox
              (change)="onChange()"
              name="once"
              [(ngModel)]="once"
              i18n
              >One time reservation</mat-checkbox
            >
            <mat-checkbox
              (change)="onChange()"
              name="multiple"
              [(ngModel)]="multiple"
              i18n
              >Multiple reservation</mat-checkbox
            >
          </div>
          <div *ngIf="multiple" class="log">
            <mat-form-field
              ngClass="{{ (isMedium$ | async) ? 'full-width' : '' }}">
              <input matInput type="number" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</section>
