<form [formGroup]="schedulerForm">
  <div class="day-extra-wrapper">
    <div ngClass="day-settings {{ (isMedium$ | async) ? 'block' : '' }}">
      <div>
        <mat-checkbox
          [checked]="activeCheck"
          (change)="activeChanged($event)"
          formControlName="active"
          >{{ name }}</mat-checkbox
        >
      </div>
      <div
        *ngIf="activeCheck"
        ngClass="settings-row {{ (isMedium$ | async) ? 'block' : '' }}">
        <div ngClass="date {{ (isMedium$ | async) ? 'no-margin' : '' }}">
          <mat-form-field class="margin-right">
            <mat-label i18n>Time to start</mat-label>
            <input
              (dateChange)="startDateChanged(startData.value)"
              #startData
              matInput
              [matDatepicker]="startPicker"
              formControlName="start" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <span ngClass="spacer {{ (isMedium$ | async) ? 'hidden' : '' }}"
            >--</span
          >
          <mat-form-field>
            <mat-label i18n>Time to end</mat-label>
            <input
              (dateChange)="endDateChanged(endData.value)"
              #endData
              matInput
              [matDatepicker]="endPicker"
              formControlName="end" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <button
          mat-icon-button
          ngClass="add-button {{ (isMedium$ | async) ? 'no-margin' : '' }}"
          type="button"
          (click)="addExtraTimeSlot()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="copy" type="button">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
    </div>

    <div formArrayName="multiple" *ngIf="schedulerForm.value.active">
      <div *ngFor="let timeSlot of multipleSlots.controls; let i = index">
        <div
          [formGroupName]="i"
          ngClass="extra {{ (isMedium$ | async) ? 'block' : '' }}">
          <div>
            <mat-form-field class="margin-right">
              <mat-label i18n>Time to start</mat-label>
              <input
                matInput
                [matDatepicker]="startPicker"
                formControlName="multipleStart" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <span ngClass="spacer {{ (isMedium$ | async) ? 'hidden' : '' }}"
              >--</span
            >
            <mat-form-field>
              <mat-label i18n>Time to end</mat-label>
              <input
                matInput
                [matDatepicker]="endPicker"
                formControlName="multipleEnd" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <button
            mat-icon-button
            ngClass="remove-button {{ (isMedium$ | async) ? 'no-margin' : '' }}"
            type="button"
            (click)="removeExtraTimeSlot(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
