.day-settings {
  display: flex;
}

.settings-row {
  display: flex;
}

.date {
  margin-left: 3rem;
}

.spacer {
  margin: 0 1rem;
}

.add-button, .remove-button {
  margin-left: 1rem;
}

.copy {
  display: inline-block;
  margin-left: 5rem;
}

.extra {
  display: flex;
  margin-left: 12rem;
}
