<!-- {{ loadedSettings | json }}
{{ newSettings | json }} -->
<section class="img-uploader">
  <form (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <!-- <button type="submit">Save</button> -->
      <mat-card-header>
        <mat-card-title-group
          ngClass="supplier-info {{ (isMedium$ | async) ? 'block' : '' }}">
          <div ngClass="avatar {{ (isMedium$ | async) ? 'center' : '' }}">
            <app-uploader></app-uploader>
          </div>
          <div class="supplier-name">
            <mat-form-field class="full-width">
              <mat-label i18n>Supplier Name</mat-label>
              <input
                [(ngModel)]="newSettings.supplier.name"
                name="name"
                matInput />
            </mat-form-field>
            <!-- <span>{{ loadedSettings?.supplier?.name }}</span> -->
          </div>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </form>
</section>
