<section class="img-uploader">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <div>
          <img
            mat-card-sm-image
            alt="Supplier"
            src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </div>
        <div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Supplier Name</mat-label>
              <input matInput />
            </mat-form-field>
          </form>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</section>
