.supplier-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.supplier-info.block {
  display: block;
}

.supplier-name,
.full-width {
  width: 100%;
}

.supplier-name {
  margin: 1rem 1rem;
}

.avatar.center {
  display: flex;
  justify-content: center;
}
